{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jhohannes News</title>
    <link rel="stylesheet" href="../../static/css/style.css" />
  </head>
  <body>
    <nav class="flex items-center justify-between fixed shadow-md bg-white">
      <div class="text-3xl text-red-200 shadow-sm shadow-green-500">
        Jhohannes News |
      </div>
      <div>sign in</div>
      <div>navigations</div>
      <div>search</div>
    </nav>

    <!-- header -->
    <header class="pt-10 bg-gradient-to-tr from-yellow-300 to-red-400">
      <div>News</div>
      <div>Topics</div>
    </header>

    <!-- contents -->
    <div class="flex items-center justify-center">
      <div class="flex flex-wrap w-[70%] space-y-7 space-x-2">
        {% for desc, news, img, url, source in mylist %}
        <div class="border-2 border-red-500 w-full shadow-lg shadow-red-400">
          <div class="">
            <img src="{{img}}" alt="" class="object-fill w-full" />
          </div>

          <div>
            <h1 class="font-bold text-lg">{{news}}</h1>
          </div>
          <div>
            <h1>{{ desc }}</h1>
          </div>
          <div class="hover:text-lg">
            <a href="{{url}}" target="_blank">See more</a>
          </div>
          <div>
            <h2>{{ source.name }}</h2>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
